body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
  color: #333;
}

header, footer {
  text-align: center;
  margin-bottom: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#main-accomplishments{
    background-color: rgb(255, 235, 157);
}

#main-accomplishments li {
    margin-top: 10px;
    margin-bottom: 10px;
}